@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Oxygen&display=swap');

/* font-family: 'Mooli', sans-serif;
font-family: 'Oxygen', sans-serif; */


#content{
    max-width: 1600px;
    margin: 0 auto;
}

/* logos and images */

.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}

/* top section stuff */

#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}

#background {
    height: 725px;
    background-color:#003049;
}
body{
    background-color: #669BBC;
    font-family: 'Oxygen', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
#logo_link{
    padding-top: 5px;
}
header{
    background-color: #003049;
}
.msg{
    background-color: #003049;
    line-height: 1.5em;
    padding: 35px;
}

/* foreground colors */
nav a{
    background-color: #FDF0D5;
    color: #003049;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #669BBC;
    color: #FDF0D5;
}
.home-title{
    background-color: #003049;
    color: #FDF0D5;
    font-family: 'Mooli', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    background-color: #FDF0D5;
    color: #003049;
}


/* book/join elements */

.book{    
    background-color: #FDF0D5;
    color: #003049;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
    padding: 15px 30px;
} 
.join{
    background-color: #669BBC;
    color: #FDF0D5;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
    padding: 15px 30px;
}
.book:hover{
    background-color: #003049;
    color: #FDF0D5;
    text-decoration: none;
}
.join:hover{
    background-color: #FDF0D5;
    color: #003049;
    text-decoration: none;
}

.msg h2{
    background-color: #003049;
    color:#FDF0D5;
    font-family: 'Mooli', sans-serif;
}
.msg p{
    background-color: #FDF0D5;
    color: #003049;
    font-size: .8em;
    padding-bottom: 15px;
}

/* footer stuff */

footer{
    background-color: #003049;
    color: #FDF0D5;
    font-size: 12px;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    background-color: #669BBC;
    color: #FDF0D5;
    text-decoration: none;
}
footer a:hover{
    background-color: #FDF0D5;
   color:#003049;
   text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
