@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Raleway&display=swap');

/* standard page stuff */
header{
    background-color: #F3F9E3;
}
main{
    background-color: #F3F9E3;
}

nav{
    display: flex;
    justify-content: space-around;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding: 15px;
}
nav a{
    background-color: #EDD83D;
    color: #3F403F;
    padding: 25px;
    flex: 1;
    text-align: center;
    text-decoration: none;
}
nav a:hover{
    background-color: #628B48;
    color: #F3F9E3;
    padding: 25px;
}
footer{
    background-color: #628B48;
    color: #3F403F;
    padding: 10px 10px;
    font-family: 'Raleway', sans-serif;
}
footer a:hover{
    background-color: #EDD83D;
    color: #3F403F;
    padding: 5px;
}

/* homepage */
.home-main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 75px;
    background-color: #6AB547;
    color: #F3F9E3;
    padding: 25px;   
}
.swordmain{
    border: #3F403F solid 5px;
    text-align: center;
    margin: 0 auto;
    grid-row: 1/4;
}
.mapmain{
    border: #3F403F solid 5px;
    text-align: center;
    margin: 0 auto;
    grid-row: 1/4;
}
.hp1{
    color: #F3F9E3;
    grid-row: 2/3;
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Alegreya', 'serif';
    padding: 10px;
}
.hp2{
    color: #F3F9E3;
    text-align: center;
    margin: 0 auto;
    grid-row: 4/5;
    grid-column: 2/3;
    font-size: 18px;
    padding: 15px;
    font-family: 'Alegreya', 'serif';
    padding: 10px;
}
/* game-info */
.dueling-peaks{
    border: #3F403F solid 3px;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    align-self: center;
    margin: 0 auto;
}

.switch-controller{
    border: #3F403F solid 3px;
    grid-column: 2/3;
    grid-row: 7/8;
    text-align: center;
    align-self: center;
    margin: 0 auto;
}

.gameboy{
    border: #3F403F solid 3px;
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: center;
    align-self: center;
    margin: 0 auto;
}

.game-main{
    background-color: #F3F9E3;
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    font-family: 'Alegreya', 'serif';
}

.LoZ-1{
    background-color: #6AB547;
    color: #3F403F;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.AoL-2{
    background-color: #EDD83D;
    color: #3F403F;
    grid-column: 3/5;
    grid-row: 1/2;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.ALttP-3{
    background-color: #3F403F;
    color: #F3F9E3;
    grid-column: 1/2;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.LA-4 {
    background-color: #628B48;
    color: #F3F9E3;
    grid-column: 3/5;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.OOT-5{
    background-color: #6AB547;
    color: #3F403F;
    grid-column: 1/2;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.MM-6{
    background-color: #EDD83D;
    color: #3F403F;
    grid-column: 3/5;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.OOS-A-7{
    background-color: #3F403F;
    color: #F3F9E3;
    grid-column: 1/2;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.FS-8{
    background-color: #628B48;
    color: #F3F9E3;
    grid-column: 3/5;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.WW-9{
    background-color: #6AB547;
    color: #3F403F;
    grid-column: 1/2;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.FSA-10{
    background-color: #EDD83D;
    color: #3F403F;
    grid-column: 3/5;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.MC-11{
    background-color: #3F403F;
    color: #F3F9E3;
    grid-column: 1/2;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.TP-12{
    background-color: #628B48;
    color: #F3F9E3;
    grid-column: 3/5;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.PH-13{
    background-color: #6AB547;
    color: #3F403F;
    grid-column: 1/2;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.ST-14{
    background-color: #EDD83D;
    color: #3F403F;
    grid-column: 3/5;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.SS-15{
    background-color: #3F403F;
    color: #F3F9E3;
    grid-column: 1/2;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.ALBW-16{
    background-color: #628B48;
    color: #F3F9E3;
    grid-column: 3/5;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.TFH-17{
    background-color: #6AB547;
    color: #3F403F;
    grid-column: 1/2;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.BotW-18{
    background-color: #EDD83D;
    color: #3F403F;
    grid-column: 3/5;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.TotK-19{
    background-color: #3F403F;
    color: #F3F9E3;
    grid-column: 1/2;
    margin: 15px;
    padding: 15px;
    text-align: center;
}
.EoW-20{
    background-color: #628B48;
    color: #F3F9E3;
    grid-column: 3/5;
    margin: 15px;
    padding: 15px;
    text-align: center;
}


/* timeline */
.home-timeline{
    background-color: #F3F9E3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Alegreya', 'serif';
}

.z1{
    background-color: #EDD83D;
    color: #3F403F;
    grid-column: 1/2;
    grid-row: 11/12;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #20 */
}

.z2{
    background-color: #EDD83D;
    color: #3F403F;
    grid-column: 1/2;
    grid-row: 12/13;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #21 */
}

.z3{
    background-color: #EDD83D;
    color: #3F403F;
    grid-column: 1/2;
    grid-row: 6/7;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #15 */
}

.z4{
    background-color: #EDD83D;
    color: #3F403F;
    grid-column: 1/2;
    grid-row: 7/8;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #16 */
}

.z5{
    background-color: #6AB547;
    color: #3F403F;
    grid-column: 2/3;
    grid-row: 4/5;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #4 */
}

.z6{
    background-color:  #628B48;
    color: #F3F9E3;
    grid-column: 2/3;
    grid-row: 7/8;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #12 */
}

.z7{
    background-color: #EDD83D;
    color: #3F403F;
    grid-column: 1/2;
    grid-row: 8/9;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #17 */
}

.z8{
    background-color: #6AB547;
    color: #3F403F;
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #3 */
}

.z9{
    background-color: #3F403F;
    color: #F3F9E3;
    grid-column: 3/4;
    grid-row: 7/8;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #9 */
}

.z10{
    background-color:  #628B48;
    color: #F3F9E3;
    grid-column: 2/3;
    grid-row: 9/10;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #14 */
}

.z11{
    background-color: #6AB547; 
    color: #3F403F;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #2 */
}

.z12{
    background-color:   #628B48;
    color: #F3F9E3;
    grid-column: 2/3;
    grid-row: 8/9;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #13 */
}

.z13{
    background-color: #3F403F;
    color: #F3F9E3;
    grid-column: 3/4;
    grid-row: 8/9;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #10 */
}

.z14{
    background-color: #3F403F;
    color: #F3F9E3;
    grid-column: 3/4;
    grid-row: 9/10;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #11 */
}

.z15{
    background-color: #6AB547;
    color: #3F403F;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #1 */
}

.z16{
    background-color: #EDD83D;
    color: #3F403F;
    grid-column: 1/2;
    grid-row: 9/10;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #18 */
}

.z17{
    background-color: #EDD83D;
    color: #3F403F;
    grid-column: 1/2;
    grid-row: 10/11;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #19 */
}

.z18{
    background-color: #6AB547;
    color: #3F403F;
    grid-column: 1/4;
    grid-row: 13/14;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #22 */
}

.z19{
    background-color: #6AB547;
    color: #3F403F;
    grid-column: 1/4;
    grid-row: 14/15;
    margin: 15px 15px 50px;
    padding: 15px;
    text-align: center;
    /* #23 */
}

.z20{
    background-color: #EDD83D;
    color: #3F403F;
    grid-column: 1/2;
    grid-row: 11/12;
    margin: 15px;
    padding: 15px;
    text-align: center;

}

.success{
    background-color: #EDD83D;
    color: #3F403F;
    grid-column: 2/4;
    grid-row: 5/6;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #6 */
}

.defeat{
    background-color: #3F403F;
    color: #F3F9E3;
    grid-column: 1/2;
    grid-row: 5/6;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #5 */
}

.adult{
    background-color: #3F403F;
    color: #F3F9E3;
    grid-column: 3/4;
    grid-row: 6/7;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #8 */
}

.child{
    background-color:  #628B48;
    color: #F3F9E3;
    grid-column: 2/3;
    grid-row: 6/7;
    margin: 15px;
    padding: 15px;
    text-align: center;
    /* #7 */
}
.gs{
    border:#3F403F solid 5px;
     
}

.glassy-sky{
    display: block;
    grid-column: 1/2;
    grid-row: 1/5;
    align-self: center;
    margin: 0 auto;
}

.sias{
    border: #3F403F solid 5px;
}

.sword-stone{
    display: block;
    grid-column: 3/4;
    grid-row: 1/5;
    align-self: center;
    margin: 0 auto;
}